* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  border-bottom: 8px solid #38bb9c;
}
.jumbotron .Title {
  width: 50%;
}
.jumbotron .img-wrapper {
  width: 50%;
}
.jumbotron .Title h1 {
  color: #38bb9c;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}
.jumbotron .Title p {
  color: #3c3f54;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0rem;
  word-spacing: 0.1rem;
}
.jumbotron .img-wrapper img {
  width: 100%;
  height: 369px;
}
.jumbotron .btn-wrapper {
  margin: 4px 0;
}
.jumbotron .btn-wrapper button {
  padding: 8px;
  border-radius: 12px;
  border: none;
  background: #38bb9c;
}
.jumbotron .btn-wrapper button a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0rem;
  word-spacing: 0.1rem;
}
.jumbotron .btn-wrapper button a:hover {
  text-decoration: underline;
}
.Features-wrapper {
  margin: 4.8rem 0 0;
}
.Features-wrapper .Features-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 42px;
  column-gap: 18px;
}
.Features-wrapper h2 {
  text-align: center;
  color: #38bb9c;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  margin: 0 0 2rem;
  font-style: normal;
}
.features-items {
  border: 1px solid #38bb9c;
  border-radius: 4px;
  max-width: 282px;
  padding: 12px;
  color: #3c3f54;
  box-shadow: 6px 4px 4px #b9dac6;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0rem;
  word-spacing: 0.1rem;
  line-height: 1.6rem;
}
.features-items:hover {
  transform: scale(1.1);
  transition: 1s;
  z-index: 8;
}

.features-items h3 {
  color: #38bb9c;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.1rem;
  word-spacing: 0rem;
  text-align: center;
  margin-bottom: 8px;
}
.HowItWorks-wrapper {
  margin: 4.8rem 0 0;
}
.HowItWorks-wrapper h2 {
  color: #38bb9c;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}
.HowItWorks-wrapper .HowItWorks-content {
  color: #3c3f54;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0rem;
  word-spacing: 0.1rem;
  line-height: 1.8rem;
}
.HowItWorks-wrapper .HowItWorks-content ul {
  padding: 0 0 0 22px;
}
.HowItWorks-wrapper .HowItWorks-content a {
  color: #38bb9c;
}
.HowItWorks-wrapper .HowItWorks-content a:hover {
  color: #1e588f;
}
@media (max-width:565px) {
  .jumbotron {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding-bottom: 2rem;
  }
  .jumbotron .Title {
    width: 100%;
  }
  .jumbotron .Title h1, .Features-wrapper h2, .HowItWorks-wrapper h2  {
    font-size: 24px;
    letter-spacing: 0rem;
    word-spacing: 0rem;
  }
  .jumbotron .Title p, .features-items, .HowItWorks-wrapper .HowItWorks-content {
    font-size: 16px;
    word-spacing: 0rem;
  }
  .jumbotron .btn-wrapper button a {
    font-size: 16px;
    word-spacing: 0rem;
  }
  .jumbotron .img-wrapper {
    width: 100%;
  }
  
.jumbotron .img-wrapper img {
  width: 98%;
  height: 224px;
}
.Features-wrapper, .HowItWorks-wrapper {
  margin: 3rem 0 0;
}
.Features-wrapper .Features-content {
  column-gap: 0px;
}
.features-items h3 {
  font-size: 20px;
}
}
