* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

.App {
    max-width: 100%;
}

.App header {
    background-color: aliceblue;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0/0.2);
}

header h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    margin: 0 0 .5rem 0;
}

header p {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    color: #1a1a11;
}



.App .errorMess-section{
    margin: 6rem 0 0 0;
    text-align: center;
    color: red;
    font-size: 1.8rem;
}

.App .main-section {
    /* margin: 16rem auto 0; */
    padding: 1rem;
}

.main-section .input-wrapper {
    position: relative;
}

.input-wrapper label {
    background: aliceblue;
    color: #1a1a11;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

.input-wrapper input[type="file"] {
    position: absolute;
    left: 26px;
    top: 6px;
    font-size: 15px;
    color: #1a1a11;
    z-index: -1;
}

.result {
    margin-top: 4rem;
    display: grid;
    justify-content: center;
}

.result .selectedImage-container {
    background: #1a1a11;
    height: 100%;
    padding: 1rem;
    margin: .5rem;
}

.selectedImage-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.result .btn-ocrResult-container{
    margin: .5rem;
}
.result .btn-ocrResult-container button{
    background: aliceblue;
    color: #1a1a11;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin-bottom: 1rem;
}
.result .btn-ocrResult-container p {
    background: #fff;
    height: 100%;
    padding: 1rem;
    margin-top: .2rem;
}
/* footer{
    position: fixed;
    bottom: 0;
} */

@media (min-width: 1000px) {
    header h1 {
        font-size: 3rem;
    }
    
    header p {
        font-size: 1rem;
        
    } 
    .result {
        grid-template-columns: repeat(2, 1fr);
    }
}