* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.OCRApp {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url('../../img/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; */
  color: #1a1a11;
}

.OCRApp .errorMess-section {
  color: red;
}

.main-section .input-wrapper {
  position: relative;
}

.input-wrapper label {
  background: #1a1a11;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.input-wrapper input[type="file"] {
  position: absolute;
  left: 26px;
  top: 6px;
  font-size: 15px;
  color: #1a1a11;
  z-index: -1;
}

.result {
  margin-top: 4rem;
  display: grid;
  justify-content: center;
}

.result .selectedImage-container {
  background: #1a1a11;
  height: 100%;
  border: 2px solid #1a1a11;
}

.selectedImage-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.result .btn-ocrResult-container {
  margin: 0.5rem;
}
.result .btn-ocrResult-container button {
  background: #1a1a11;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
}
.result .btn-ocrResult-container p {
  color: #1a1a11;
  background: #fff;
  border: 2px solid #1a1a11;
  height: 100%;
  padding: 1rem;
  margin-top: 0.2rem;
}

@media (min-width: 1000px) {
  .result {
    grid-template-columns: repeat(2, 1fr);
  }
}
