* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.AuthLayout-wrapper {
  max-width: 100%;
  background: #fff;
}
.AuthLayout {
  width: 100%;
}
.heaader-childern {
  width: 90%;
  margin: 0 auto;
}

.logo a {
  text-decoration: none;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 0rem;
  color: #38BB9C;
  font-family: Blackadder ITC;
}
.children {
  margin: 0 0 3rem;
}
.Footer-wrapper{
  border-top: 8px solid #38bb9c;
  background: #B9DAC6;
  color: #3C3F54;
}
.Footer-wrapper .Footer{
  width: 90%;
  margin: 0 auto;
}
.Footer-wrapper .Footer-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Footer-wrapper .Footer-item{
  max-width: 482px;
}
.Copyright{
  text-align: center;
}